#main {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    gap: 30px;
    margin-top: 10px;
}

#photographer_infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FAFAFA;
    border-radius: 5px;
    padding: 40px 50px;
}

#photographer_infos > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#photographer_infos h1 {
    margin: 0;
}

#photographer_infos span {
    color: #901C1C;
    font-size: 20px;
}

#photographer_infos p {
    margin: 0;
}

.button_contact {
    cursor: pointer;
    padding: 14px 10px;
    background: #901C1C;
    color: white;
    font-family: "DM Sans", sans-serif;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.button_contact:hover {
    background: #D3573C;
}

.float_infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #DB8876;
    color: black;
    border-radius: 5px 5px 0 0;
    padding: 15px;
    position: fixed;
    bottom: 0;
    right: 30px;
    width: 250px;
    font-weight: bold;
}

.float_infos div {
    display: flex;
    align-items: center;
    gap: 3px;
}

#contact_modal, #lightbox {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    place-items: center;
    background: rgba(0, 0, 0, 0.4);
}

#contact_modal .modal {
    width: 500px;
    background: #DB8876;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contact_modal .modal header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    height: fit-content;
    align-items: start;
}

#contact_modal .modal header h2 {
    white-space: pre;
    margin: 0;
    font-weight: normal;
    font-size: 30px;
}

#contact_modal .modal header img {
    cursor: pointer;
    width: 25px;
    height: 25px;
}

#contact_modal .modal header button {
    background: none;
    border: none;
    margin-top: 8px;
}

#contact_modal .modal form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contact_modal .modal form > div {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

#contact_modal .modal form label {
    font-size: 20px;
    color: #312E2E;
}

#contact_modal .modal form input, #contact_modal .modal form textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}

#contact_modal .modal form textarea {
    resize: none;
    height: 150px;
}

#contact_modal .modal form button {
    align-self: start;
    padding: 14px 20px;
}

#lightbox {
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#lightbox #modal {
    position: relative;
    display: flex;
}

#lightbox figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#lightbox img, #lightbox video {
    max-width: 80vw;
    max-height: 80vh;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
}

#lightbox figcaption {
    font-size: 18px;
    color: #901C1C;
}

#lightbox button {
    position: absolute;
    background: none;
    border: none;
    color: #901C1C;
    cursor: pointer;
}

#lightbox #close_lightbox {
    left: calc(100% + 10px);
    top: 0;
}

#lightbox #btn_prev {
    right: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);
}

#lightbox #btn_next {
    left: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);
}

#photographer_media {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#filter {
    display: flex;
    align-items: center;
    gap: 20px;
}

#filter label {
    font-weight: bold;
}

#filter_select {
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-family: "DM Sans", sans-serif;
    background-color: #901C1C;
    color: white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}

#filter_select:hover {
    background-color: #D3573C;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(3, calc(88% / 3));
    gap: 20px 6%;
    margin-top: 20px;
}

#gallery figure {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 5px;
}

#gallery figure img {
    width: 100%;
    height: 19vw;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

#gallery figure img:hover {
    transform: scale(0.98);
}

#gallery figure figcaption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
}

#gallery figure .like_btn {
    font-weight: bold;
    color: #901C1C;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}
